.block-text {
    &_center {
        text-align: center;
    }
    // .block-text__title
    &__title {
        font-weight: 700;
        font-size: rem(44);
        line-height: 126%;
        color: $black;
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
        @media (max-width: $tablet) {
            font-size: rem(36);
        }
        span {
            color: $primary;
        }

        // .block-text__title_secondary
        &_secondary {
            span {
                color: $secondary;
            }
        }
    }

    // .block-text__text
    &__text {
        line-height: 138.5%;
        letter-spacing: 0.08em;
        &:not(:last-child) {
            margin-bottom: rem(24);
            @media (max-width: $mobile) {
                margin-bottom: rem(16);
            }
        }
        &_mw {
            max-width: rem(620);
            margin: 0 auto;
        }
    }
}
