.footer {
    padding: rem(45) 0px;
    @media (max-width: $mobile) {
        padding: rem(25) 0px;
    }
    // ANIMATION ==================================================================================================================================================
    @include inViewBasic(0, rem(30), 0.5, 0);
    // .footer__container
    &__container {
    }

    // .footer__items
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(50);
        @media (max-width: $mobileSmall) {
            flex-direction: column;
            gap: rem(10);
        }
    }

    // .footer__item
    &__item {
        img {
            max-width: 100%;
        }
    }
}
