.get-started {
    background-color: $background;

    // .get-started__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: rem(150) rem(15) rem(50) rem(15);
        position: relative;
        @media (max-width: $mobile) {
            padding: rem(100) rem(15) rem(30) rem(15);
        }
        &::before {
            content: "";
            position: absolute;
            right: rem(265);
            top: 0;
            height: 100%;
            width: 100vw;
            transform: translate(100%, 0px);
            background-color: $primary;
            border-radius: rem(30) 0px 0px rem(30);
            @media (max-width: $tablet) {
                right: rem(185);
                border-radius: rem(20) 0px 0px rem(20);
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

    // .get-started__content
    &__content {
        @media (min-width: $mobile) {
            flex: 0 1 48%;
            padding-left: rem(20);
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    // .get-started__block-text
    &__block-text {
        @media (min-width: $mobile) {
            max-width: rem(410);
        }
        .block-text__title {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(-30), 0, 0.5, 0, true);
        }

        .block-text__text {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(-30), 0, 0.5, 0.3, true);
        }

        .block-text__button {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(-30), 0, 0.5, 0.6, true);
        }
    }

    // .get-started__video
    &__video {
        @media (min-width: $mobile) {
            padding: rem(60) 0 0 rem(20);
        }
        flex: 1 1 100%;

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.5, 1);
    }

    // .get-started__image
    &__image {
        z-index: 2;
        flex: 0 1 52%;
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            text-align: center;
            padding: rem(30) 0;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.5, 0);
    }
}

.video-get-started {
    display: flex;
    align-items: center;
    // .video-get-started__icon
    &__icon {
        flex: 0 0 rem(44);
    }

    // .video-get-started__body
    &__body {
        padding-left: rem(12);
    }

    // .video-get-started__title
    &__title {
        font-size: rem(13);
        line-height: 126%;
        letter-spacing: 0.08em;
        color: #b0b0b0;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    // .video-get-started__text
    &__text {
        font-size: rem(9);
        line-height: 126%;
        letter-spacing: 0.165em;
        text-transform: uppercase;
        color: $black;
    }
}

//========================================================================================================================================================

.stay-safe {
    padding: rem(80) 0;
    @media (max-width: $tablet) {
        padding: rem(60) 0;
    }
    @media (max-width: $mobile) {
        padding: rem(40) 0;
    }
    @media (max-width: $mobileSmall) {
        padding: rem(30) 0;
    }

    // .stay-safe__container
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
        }
    }

    // .stay-safe__media
    &__media {
        flex: 0 1 50%;
        @media (min-width: $tablet) {
            padding-left: rem(47);
        }
    }

    // .stay-safe__content
    &__content {
        flex: 0 1 50%;
        @media (max-width: $mobile) {
            margin-bottom: rem(30);
        }
    }

    // .stay-safe__block-text
    &__block-text {
        .block-text__title {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(30), 0, 0.5, 0, true);
        }

        .block-text__text {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(30), 0, 0.5, 0.3, true);
        }

        .block-text__button {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(30), 0, 0.5, 0.6, true);
        }
    }
}
.media-stay-safe {
    width: rem(373);
    text-align: center;
    position: relative;
    padding: rem(56) 0px rem(26) 0px;
    @media (max-width: $mobileSmall) {
        padding: rem(35) 0px rem(26) 0px;
        width: rem(290);
    }

    // .media-stay-safe__image
    &__image {
        box-shadow: rem(2) rem(4) rem(32) rgba(0, 0, 0, 0.12);
        border-radius: rem(16);
        position: relative;
        display: inline-block;
        z-index: 2;
        width: 61.5%;
        &::after {
            content: "";
            position: absolute;
            width: calc(100% - rem(24));
            padding: 0px rem(12);
            height: rem(27);
            bottom: rem(-12);
            left: rem(12);
            z-index: -1;
            background: #f0f0f0;
            opacity: 0.5;
            border-radius: rem(16);
        }
        img {
            max-width: 100%;
        }

        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.5, 0.3, true);
    }

    &__item {
        position: absolute;
        z-index: -1;
        background-color: $primary;
        border-radius: rem(30);
        width: rem(77);
        height: rem(77);

        // .media-stay-safe__item_1
        &_1 {
            height: rem(147);
            width: rem(147);
            left: 0px;
            top: 0px;

            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(-30), 0, 0.5, 0, true);
        }

        // .media-stay-safe__item_2
        &_2 {
            left: rem(33);
            bottom: 0px;

            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(30), 0, 0.5, 0, true);
        }

        // .media-stay-safe__item_3
        &_3 {
            bottom: rem(107);
            right: rem(34);

            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(-30), 0, 0.5, 0, true);
        }
    }
}

//========================================================================================================================================================

.experts {
    background-color: $background;
    padding: rem(103) 0px rem(116) 0px;
    @media (max-width: $tablet) {
        padding: rem(80) 0px rem(30) 0;
    }

    // .experts__container
    &__container {
    }

    // .experts__statistics
    &__statistics {
    }

    // .experts__body
    &__body {
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
        }
    }

    // .experts__content
    &__content {
        @media (min-width: $mobile) {
            flex: 0 1 50%;
            padding-right: rem(20);
        }
        margin-bottom: rem(30);
    }

    // .experts__block-text
    &__block-text {
        @media (min-width: $mobile) {
            max-width: rem(400);
        }
        .block-text__title {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(-30), 0, 0.5, 0, true);
        }

        .block-text__text {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(-30), 0, 0.5, 0.3, true);
        }

        .block-text__button {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(rem(-30), 0, 0.5, 0.6, true);
        }
    }

    // .experts__video
    &__video {
        @media (min-width: $mobile) {
            padding-bottom: 30%;
            flex: 0 1 50%;
        }
        box-shadow: 0px rem(4) rem(18) rgba(88, 126, 236, 0.18);
        border-radius: rem(8);
        padding-bottom: 50%;
        position: relative;
        min-height: rem(200);
        overflow: hidden;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(rem(30), 0, 0.5, 0, true);
    }
}
.statistics-experts {
    max-width: rem(654);
    margin: 0px auto;
    position: relative;

    // .statistics-experts__body
    &__body {
        background-color: $white;
        box-shadow: 0px rem(2) rem(24) rgba(88, 126, 236, 0.15);
        border-radius: rem(16);
        position: relative;
        z-index: 2;
        margin-bottom: rem(80);
        min-height: rem(117);
        @media (max-width: $mobile) {
            margin-bottom: rem(50);
        }
    }

    // .statistics-experts__decor
    &__decor {
        position: absolute;
        background-color: $primary;
        border-radius: rem(30);
        transition: transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
        opacity: 0;
        visibility: hidden;
        ._watcher-view & {
            opacity: 1 !important ;
            visibility: visible !important;
            transform: translate(0, 0) rotate(-30deg) !important;
        }
        // .statistics-experts__decor_1
        &_1 {
            width: rem(65);
            height: rem(65);
            bottom: rem(-21);
            left: rem(-21);
            border-radius: rem(16);
            // ANIMATION ==================================================================================================================================================
            transform: translate(rem(-30), 0) rotate(-30deg);
        }

        // .statistics-experts__decor_2
        &_2 {
            width: rem(97);
            height: rem(97);
            right: 50%;
            top: rem(-40);
            // ANIMATION ==================================================================================================================================================
            transform: translate(0, rem(-30)) rotate(105deg);
            ._watcher-view & {
                transform: translate(0, 0) rotate(105deg) !important;
            }
        }

        // .statistics-experts__decor_3
        &_3 {
            width: rem(128);
            height: rem(128);
            right: rem(-55);
            top: 0px;
            // ANIMATION ==================================================================================================================================================
            transform: translate(rem(30), 0) rotate(-30deg);
        }
    }
}
.body-statistics-experts {
    padding: rem(20) rem(80);
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
        padding: rem(20) rem(60);
    }
    @media (max-width: $mobile) {
        padding: rem(25);
    }
    @media (max-width: $mobileSmall) {
        flex-direction: column;
    }
    // .body-statistics-experts__item
    &__item {
        text-align: center;
        flex: 0 1 25%;
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
        &:last-child {
            flex: 0 1 50%;
        }
        // ANIMATION ==================================================================================================================================================
        @include inViewBasic(0, 0, 0.5, 0, true);
    }

    // .body-statistics-experts__value
    &__value {
        font-weight: 700;
        font-size: rem(36);
        line-height: 119%;
        letter-spacing: 0.14em;
        color: $primary;
        margin-bottom: rem(5);
    }

    // .body-statistics-experts__text
    &__text {
        font-weight: 700;
        font-size: rem(11);
        line-height: 118%;
        letter-spacing: 0.37em;
        text-transform: uppercase;
        color: $black;
    }
}

//========================================================================================================================================================

.healthcare {
    padding: rem(100) 0px rem(30) 0;
    @media (max-width: $tablet) {
        padding: rem(80) 0px rem(30) 0px;
    }
    @media (max-width: $mobile) {
        padding: rem(40) 0px rem(30) 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: rem(30) 0px;
    }
    // .healthcare__container
    &__container {
    }

    // .healthcare__block-text
    &__block-text {
        margin-bottom: rem(45);
        .block-text__title {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(0, rem(30), 0.5, 0);
        }

        .block-text__text {
            // ANIMATION ==================================================================================================================================================
            @include inViewBasic(0, rem(30), 0.5, 0.3);
        }
    }

    // .healthcare__items
    &__items {
        display: flex;
        max-width: rem(980);
        margin: 0px auto;
        gap: rem(72);
        @media (max-width: $pc) {
            gap: rem(50);
        }
        @media (max-width: $tablet) {
            gap: rem(36);
        }
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: rem(25);
        }
    }
}

.items-healthcare {
    // .items-healthcare__item
    &__item {
        flex: 0 1 33.333%;
        position: relative;
        background: $white;
        box-shadow: 0px rem(4) rem(18) rgba(88, 126, 236, 0.18);
        border-radius: rem(8);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: rem(36) rem(17);
        top: rem(30);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s, top 0.5s ease 0s;
        &::before,
        &::after {
            content: "";
            position: absolute;
            background: $primary;
            transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s, visibility 0.5s ease 0.5s;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }
        @media (max-width: $pc) {
            padding: rem(25) rem(15);
        }
        &._watcher-view {
            opacity: 1;
            visibility: visible;
            top: 0;
            &::before,
            &::after {
                opacity: 1;
                visibility: visible;
                transform: translate(0, 0) rotate(-30deg);
            }
        }

        &_1 {
            &::before {
                width: rem(65.75);
                height: rem(65.75);
                left: rem(-20);
                bottom: rem(-40);
                border-radius: rem(16);
                // ANIMATION ==================================================================================================================================================
                transform: translate(rem(30), rem(-30)) rotate(-30deg);
            }
            &::after {
                width: rem(96.96);
                height: rem(96.96);
                right: rem(-55);
                top: rem(35);
                border-radius: rem(30);
                // ANIMATION ==================================================================================================================================================
                transform: translate(rem(-30), 0) rotate(105deg);
            }
            &._watcher-view {
                &::after {
                    transform: translate(0, 0) rotate(105deg) !important;
                }
            }
        }
        &_2 {
            &::after {
                width: rem(127.47);
                height: rem(127.47);
                right: rem(-70);
                bottom: rem(-30);
                border-radius: rem(30);
                // ANIMATION ==================================================================================================================================================
                transform: translate(rem(-30), rem(-30)) rotate(-30deg);
            }
        }
        &_3 {
            &::after {
                width: rem(65.75);
                height: rem(65.75);
                right: rem(-20);
                top: rem(-40);
                border-radius: rem(16);

                // ANIMATION ==================================================================================================================================================
                transform: translate(rem(-30), rem(30)) rotate(-30deg);
                @media (max-width: $mobile) {
                    right: auto;
                    top: auto;
                    left: rem(-20);
                    bottom: rem(-40);
                    // ANIMATION ==================================================================================================================================================
                    transform: translate(rem(30), rem(-30)) rotate(-30deg);
                }
            }
        }
    }

    // .items-healthcare__icon
    &__icon {
        margin-bottom: rem(58);
        @media (max-width: $pc) {
            margin-bottom: rem(45);
        }
        @media (max-width: $tablet) {
            margin-bottom: rem(30);
        }
    }

    // .items-healthcare__title
    &__title {
        font-weight: 700;
        font-size: rem(16);
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: $black;
        &:not(:last-child) {
            margin-bottom: rem(4);
        }
    }

    // .items-healthcare__text
    &__text {
        line-height: 138.5%;
        letter-spacing: 0.08em;
    }
}
