.get-started {
    background-color: $background;

    // .get-started__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 150px 15px 50px 15px;
        position: relative;
        @media (max-width: $mobile) {
            padding: 100px 15px 30px 15px;
        }
        &::before {
            content: "";
            position: absolute;
            right: 265px;
            top: 0;
            height: 100%;
            width: 100vw;
            transform: translate(100%, 0px);
            background-color: $primary;
            border-radius: 30px 0px 0px 30px;
            @media (max-width: $tablet) {
                right: 185px;
                border-radius: 20px 0px 0px 20px;
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

    // .get-started__content
    &__content {
        @media (min-width: $mobile) {
            flex: 0 1 48%;
            padding-left: 20px;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    // .get-started__block-text
    &__block-text {
        @media (min-width: $mobile) {
            max-width: 410px;
        }
    }

    // .get-started__video
    &__video {
        @media (min-width: $mobile) {
            padding: rem(60) 0 0 rem(20);
        }
        flex: 1 1 100%;
    }

    // .get-started__image
    &__image {
        z-index: 2;
        flex: 0 1 52%;
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            text-align: center;
            padding: rem(30) 0;
        }
    }
}

.video-get-started {
    display: flex;
    align-items: center;
    // .video-get-started__icon
    &__icon {
        flex: 0 0 44px;
    }

    // .video-get-started__body
    &__body {
        padding-left: 12px;
    }

    // .video-get-started__title
    &__title {
        font-size: rem(13);
        line-height: 126%;
        letter-spacing: 0.08em;
        color: #b0b0b0;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }

    // .video-get-started__text
    &__text {
        font-size: rem(9);
        line-height: 126%;
        letter-spacing: 0.165em;
        text-transform: uppercase;
        color: $black;
    }
}

//========================================================================================================================================================

.stay-safe {
    padding: 80px 0;
    @media (max-width: $tablet) {
        padding: 60px 0;
    }
    @media (max-width: $mobile) {
        padding: 40px 0;
    }
    @media (max-width: $mobileSmall) {
        padding: 30px 0;
    }

    // .stay-safe__container
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
        }
    }

    // .stay-safe__media
    &__media {
        flex: 0 1 50%;
        @media (min-width: $tablet) {
            padding-left: 47px;
        }
    }

    // .stay-safe__content
    &__content {
        flex: 0 1 50%;
        @media (max-width: $mobile) {
            margin-bottom: 30px;
        }
    }

    // .stay-safe__block-text
    &__block-text {
    }
}
.media-stay-safe {
    width: 373px;
    text-align: center;
    position: relative;
    padding: 56px 0px 26px 0px;
    @media (max-width: $mobileSmall) {
        padding: 35px 0px 26px 0px;
        width: 290px;
    }

    // .media-stay-safe__image
    &__image {
        box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        position: relative;
        display: inline-block;
        z-index: 2;
        width: 61.5%;
        &::after {
            content: "";
            position: absolute;
            width: calc(100% - 24px);
            padding: 0px 12px;
            height: 27px;
            bottom: -12px;
            left: 12px;
            z-index: -1;
            background: #f0f0f0;
            opacity: 0.5;
            border-radius: 16px;
        }
        img {
            max-width: 100%;
        }
    }

    &__item {
        position: absolute;
        z-index: -1;
        background-color: $primary;
        border-radius: 30px;
        width: 77px;
        height: 77px;

        // .media-stay-safe__item_1
        &_1 {
            height: 147px;
            width: 147px;
            left: 0px;
            top: 0px;
        }

        // .media-stay-safe__item_2
        &_2 {
            left: 33px;
            bottom: 0px;
        }

        // .media-stay-safe__item_3
        &_3 {
            bottom: 107px;
            right: 34px;
        }
    }
}

//========================================================================================================================================================

.experts {
    background-color: $background;
    padding: 103px 0px 116px 0px;
    @media (max-width: $tablet) {
        padding: 80px 0px 30px 0;
    }

    // .experts__container
    &__container {
    }

    // .experts__statistics
    &__statistics {
    }

    // .experts__body
    &__body {
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
        }
    }

    // .experts__content
    &__content {
        @media (min-width: $mobile) {
            flex: 0 1 50%;
            padding-right: 20px;
        }
        margin-bottom: 30px;
    }

    // .experts__block-text
    &__block-text {
        @media (min-width: $mobile) {
            max-width: 400px;
        }
    }

    // .experts__video
    &__video {
        @media (min-width: $mobile) {
            padding-bottom: 30%;
            flex: 0 1 50%;
        }
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        padding-bottom: 50%;
        position: relative;
        min-height: 200px;
        overflow: hidden;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}
.statistics-experts {
    max-width: 654px;
    margin: 0px auto;
    position: relative;

    // .statistics-experts__body
    &__body {
        background-color: $white;
        box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
        border-radius: 16px;
        position: relative;
        z-index: 2;
        margin-bottom: rem(80);
        min-height: 117px;
        @media (max-width: $mobile) {
            margin-bottom: 50px;
        }
    }

    // .statistics-experts__decor
    &__decor {
        position: absolute;
        background-color: $primary;
        transform: rotate(-30deg);
        border-radius: 30px;

        // .statistics-experts__decor_1
        &_1 {
            width: 65px;
            height: 65px;
            bottom: -21px;
            left: -21px;
            border-radius: 16px;
        }

        // .statistics-experts__decor_2
        &_2 {
            width: 97px;
            height: 97px;
            right: 50%;
            top: -40px;
            transform: rotate(105deg);
        }

        // .statistics-experts__decor_3
        &_3 {
            width: 128px;
            height: 128px;
            right: -55px;
            top: 0px;
        }
    }
}
.body-statistics-experts {
    padding: 20px 80px;
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
        padding: 20px 60px;
    }
    @media (max-width: $mobile) {
        padding: 25px;
    }
    @media (max-width: $mobileSmall) {
        flex-direction: column;
    }
    // .body-statistics-experts__item
    &__item {
        text-align: center;
        flex: 0 1 25%;
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
        &:last-child {
            flex: 0 1 50%;
        }
    }

    // .body-statistics-experts__value
    &__value {
        font-weight: 700;
        font-size: rem(36);
        line-height: 119%;
        letter-spacing: 0.14em;
        color: $primary;
        margin-bottom: rem(5);
    }

    // .body-statistics-experts__text
    &__text {
        font-weight: 700;
        font-size: 11px;
        line-height: 118%;
        letter-spacing: 0.37em;
        text-transform: uppercase;
        color: $black;
    }
}

//========================================================================================================================================================

.healthcare {
    padding: 100px 0px 30px 0;
    @media (max-width: $tablet) {
        padding: 80px 0px 30px 0px;
    }
    @media (max-width: $mobile) {
        padding: 40px 0px 30px 0px;
    }
    @media (max-width: $mobileSmall) {
        padding: 30px 0px;
    }
    // .healthcare__container
    &__container {
    }

    // .healthcare__block-text
    &__block-text {
        margin-bottom: rem(45);
    }

    // .healthcare__items
    &__items {
        display: flex;
        max-width: 980px;
        margin: 0px auto;
        gap: 72px;
        @media (max-width: $pc) {
            gap: 50px;
        }
        @media (max-width: $tablet) {
            gap: 36px;
        }
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 25px;
        }
    }
}

.items-healthcare {
    // .items-healthcare__item
    &__item {
        flex: 0 1 33.333%;
        position: relative;
        background: $white;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 36px 17px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            background: $primary;
            transform: rotate(-30deg);
        }
        @media (max-width: $pc) {
            padding: 25px 15px;
        }

        &_1 {
            &::before {
                width: 65.75px;
                height: 65.75px;
                left: -20px;
                bottom: -40px;
                border-radius: 16px;
            }
            &::after {
                width: 96.96px;
                height: 96.96px;
                right: -55px;
                top: 35px;
                border-radius: 30px;
                transform: rotate(105deg);
            }
        }
        &_2 {
            &::after {
                width: 127.47px;
                height: 127.47px;
                right: -70px;
                bottom: -30px;
                border-radius: 30px;
            }
        }
        &_3 {
            &::after {
                width: 65.75px;
                height: 65.75px;
                right: -20px;
                top: -40px;
                border-radius: 16px;
                @media (max-width: $mobile) {
                    right: auto;
                    top: auto;
                    left: -20px;
                    bottom: -40px;
                }
            }
        }
    }

    // .items-healthcare__icon
    &__icon {
        margin-bottom: rem(58);
        @media (max-width: $pc) {
            margin-bottom: rem(45);
        }
        @media (max-width: $tablet) {
            margin-bottom: rem(30);
        }
    }

    // .items-healthcare__title
    &__title {
        font-weight: 700;
        font-size: rem(16);
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: $black;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    // .items-healthcare__text
    &__text {
        line-height: 138.5%;
        letter-spacing: 0.08em;
    }
}
